@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Anton&family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.logo {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: bebas neue;
    background-color: transparent;
}

.mobile-menu {
    display: block;
    margin-bottom: 8px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2.5rem;
    cursor: pointer;
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 0;
}


.hero-btn {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    outline: 1px solid white;
    outline-offset: 3px;
    border: none;
    font-family: Orbitron;
    font-size: 18px;
}

.hero-btn:hover {
    color: black;
    background-color: white;
    font-size: 20px;
    transition: 0.3s;

    cursor: pointer;
}

.hero-btn:not(:hover) {
    color: ghostwhite;
    font-size: 12 px;
    transition: 0.2s;
}

.arrow-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    background-color: transparent;
    font-family: inter;
}

.arrow-down:hover {
    color: #7706d4;
    transition: 0.2s;
    font-size: 40px;
}

.arrow-down:not(:hover) {
    color: white;
    transition: 0.2s;
    font-size: 30px;
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) translateX(-50%);
    }

    50% {
        transform: translateY(10px) translateX(-50%);
    }
}


.content {
    padding: 40px;
    background: rgb(226, 218, 255);
    min-height: 100vh;
    margin: 0;
}

.content h1 {
    font-family: anton;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgb(26, 26, 26);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 30px;
}

.news-container {
    height: auto;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#news-cards {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
}

.news-card {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    height: 350px;
    background: rgb(226, 218, 255);
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease;
}


.news-card .img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.news-card:hover img {
    transform: scale(1.2);
}

.news-card:hover {
    transform: scale(1.05);
}

.news-card .content {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    min-height: auto;
}

.news-card .date-category {
    font-family: inter;
    font-size: 13px;
    color: rgb(44, 0, 204);
}

.news-card h3 {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: left;
    line-height: 1.2;
}

.news-card p {
    font-family: inter;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }

    .mobile-menu {
        font-size: 1.8rem;
    }

    .navbar {
        padding: 40px 60px;
    }

    .news-container {
        padding: 10px;
    }
    
    #news-cards {
        gap: 30px;
        padding: 15px 0;
    }
    
    .news-card {
        flex: 0 0 300px;
    }
}

@media (max-width: 768px) {
    .main-txt {
        font-size: 4rem;
    }

    .main-btn {
        font-size: 10px;
    }
}

@media (max-width: 337px) {
    .main-txt {
        font-size: 2.8rem;
    }

    .main-btn {
        font-family: 7px;
    }
}