@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@400;600&family=Montserrat:wght@600&family=Orbitron:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.logo {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;
}

.mobile-menu {
    display: block;
    margin-bottom: 8px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
    position: relative;
}

.mobile-menu-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.mobile-menu-icon::before,
.mobile-menu-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.mobile-menu-icon::before {
    transform: translateY(-10px);
}

.mobile-menu-icon::after {
    transform: translateY(10px);
}

.mobile-menu.active .mobile-menu-icon,
.mobile-menu.active .mobile-menu-icon::before,
.mobile-menu.active .mobile-menu-icon::after {
    display: none;
    transition: 0s ease-out;
}

.menu-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.menu-container.active {
    right: 0;
}

.menu-container ul {
    list-style: none;
}

.menu-container ul li {
    margin: 20px 0;
}

.menu-container ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s;
}

.menu-container ul li a:hover {
    color: #ccc;
}

.menu-container ul li a {
    font-family: orbitron;
}

.menu-container ul li a:hover {
    color: red;
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 0;
}

.hero-btn {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    outline: 1px solid white;
    outline-offset: 3px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    color: black;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.hero-btn:not(:hover) {
    color: ghostwhite;
    font-size: 12 px;
    transition: 0.2s;
}

.arrow-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    transition: all 0.2s ease;
}

.arrow-down:hover {
    color: #7706d4;
    transition: 0.2s;
    font-size: 40px;
}

.arrow-down:not(:hover) {
    color: white;
    transition: 0.2s;
    font-size: 30px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) translateX(-50%);
    }

    50% {
        transform: translateY(10px) translateX(-50%);
    }
}

/* Content section styles */
.content {
    padding: 40px;
    background: radial-gradient(circle at 50%, #0902686e 0, transparent 90%), radial-gradient(circle at 70% top, #000000 0, #04000a 60%);
    min-height: 100vh;
}

.content h1 {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgb(238, 238, 238);
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
    margin-top: 30px;
}

.News-btn {
    text-align: center;
    margin-top: 30px;
}

.newsbtn {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    outline: 1px solid white;
    outline-offset: 3px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease;
}

.newsbtn:hover {
    color: black;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

/* News cards styles */
.news-container {
    height: auto;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#news-cards {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.news-card {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    height: 350px;
    background: rgba(151, 151, 151, 0.158);
    backdrop-filter: blur(12px);
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease;
}

.news-card .img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.news-card:hover img {
    transform: scale(1.2);
}

.news-card:hover {
    transform: scale(1.05);
}

.news-card .content {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    min-height: auto;
}

.news-card h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #f7f7f7;
    text-align: left;
    line-height: 1.2;
}

.news-card h2 {
    color: rgb(134, 134, 134);
    font-family: inter;
    font-size: 15px;
}

.games-stn {
    min-height: 100vh;
}

.games-stn h1{
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: rgb(34, 34, 34);
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
    margin-top: 40px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }

    .mobile-menu {
        font-size: 1.8rem;
    }

    .navbar {
        padding: 40px 60px;
    }

    .news-container {
        padding: 10px;
    }

    #news-cards {
        gap: 30px;
        padding: 15px 0;
    }

    .news-card {
        flex: 0 0 300px;
    }

    .content h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 337px) {
    .content h1 {
        font-size: 2rem;
    }
}