@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@400;600&family=Montserrat:wght@600&family=Orbitron:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.logo {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;
}

.mobile-menu {
    display: block;
    margin-bottom: 8px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
    position: relative;
}

.mobile-menu-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.mobile-menu-icon::before,
.mobile-menu-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.mobile-menu-icon::before {
    transform: translateY(-10px);
}

.mobile-menu-icon::after {
    transform: translateY(10px);
}

.mobile-menu.active .mobile-menu-icon,
.mobile-menu.active .mobile-menu-icon::before,
.mobile-menu.active .mobile-menu-icon::after {
    display: none;
    transition: 0s ease-out;
}

.menu-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.menu-container.active {
    right: 0;
}

.menu-container ul {
    list-style: none;
}

.menu-container ul li {
    margin: 20px 0;
}

.menu-container ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s;
}

.menu-container ul li a:hover {
    color: #ccc;
}

.menu-container ul li a {
    font-family: orbitron;
    transition: 0.2s ease-in-out;
}

.menu-container ul li a:hover {
    color: red;
    font-size: 1.2rem;
    
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 0;
}

.hero-btn {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    outline: 1px solid white;
    outline-offset: 3px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    color: black;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.hero-btn:not(:hover) {
    color: ghostwhite;
    font-size: 12 px;
    transition: 0.2s;
}

.arrow-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    transition: all 0.2s ease;
}

.arrow-down:hover {
    color: #7706d4;
    transition: 0.2s;
    font-size: 40px;
}

.arrow-down:not(:hover) {
    color: white;
    transition: 0.2s;
    font-size: 30px;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) translateX(-50%);
    }

    50% {
        transform: translateY(10px) translateX(-50%);
    }
}

/* Content section styles */
.content {
    padding: 40px;
    background: radial-gradient(circle at 50%, #0902686e 0, transparent 90%), radial-gradient(circle at 70% top, #000000 0, #04000a 60%);
    min-height: 100vh;
}

.content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    letter-spacing: 1.5px;
    color: rgb(212, 208, 208);
    font-size: 2rem;
    margin-bottom: 10px;
    text-align:center;
}

.News-btn {
    text-align: center;
    margin-top: 30px;
}

.newsbtn {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    outline: 1px solid white;
    outline-offset: 3px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease;
}

.newsbtn:hover {
    color: black;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}


.news-container {
    height: auto;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#news-cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.news-card {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    height: 320px;
    background: rgba(151, 151, 151, 0.158);
    backdrop-filter: blur(12px);
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease;
}

.news-card .img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.news-card:hover img {
    transform: scale(1.2);
}

.news-card:hover {
    transform: scale(1.05);
}

.news-card .content {
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    min-height: auto;
}

.news-card h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #f7f7f7;
    text-align: left;
    line-height: 1.2;
}

.news-card h2 {
    color: rgb(134, 134, 134);
    font-family: inter;
    font-size: 15px;
}

.games-stn {
    padding: 40px;
    background: radial-gradient(circle at 50%, #0c00b16e 0, transparent 90%), radial-gradient(circle at 70% top, #410009 0, #000000 60%);
    min-height: auto;
}

.games-header {
    display: flex;
    justify-content: space-between; /* Align "Explore" and search bar on opposite sides */
    align-items: center; /* Vertically align items */
    margin-bottom: 20px;
}

.games-header h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.5px;
    color: rgb(212, 208, 208);
    font-size: 2rem;
    margin: 0;
}

.search-bar-container {
    margin: 0;
}

.search-bar {
    width: 300px;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 40px;
    font-size: 0.8rem;
    background-color: #cccccc25;
    font-family: 'Inter', sans-serif;
    outline: none;
    color: #ffffff;
    transition: all 0.3s ease;
}

.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.store-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.store-card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.store-card:hover {
    transform: scale(1.05);
}

.store-card-img img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.store-card-content {
    padding: 15px;
    color: #fff;
}

.store-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.store-card-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
}

.store-card-content p {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    margin: 0;
    color: #ccc;
}

.browse-section {
    margin-top: 40px;
    text-align: left;
}

.browse-section h1{
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

.category-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    justify-items: center;
    margin-top: 30px;
}

.category-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category-card:hover .category-overlay {
    opacity: 1;
}

.category-overlay p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.Explore-btn {
    text-align: center;
    margin-top: 50px; /* Adjusted margin for better spacing */
}

.explorebtn {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    outline: 1px solid white;
    outline-offset: 3px;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.explorebtn:hover {
    color: black;
    background-color: white;
    font-size: 20px;
}

@media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }

    .mobile-menu {
        font-size: 1.8rem;
    }

    .navbar {
        padding: 40px 60px;
    }

    .news-container {
        padding: 10px;
    }

    #news-cards {
        gap: 30px;
        padding: 15px 0;
    }

    .news-card {
        flex: 0 0 300px;
    }

    .content h1 {
        font-size: 2rem;
    }

    .games-stn h1{
        font-size: 1.5rem;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar-container {
        flex-direction: column;
        gap: 15px;
    }

    .store-cards-container {
        display: grid;
        grid-template-columns: 1fr; /* Single column layout */
        gap: 15px;
        max-height: 500px; /* Limit the height of the container */
        overflow-y: auto; /* Add vertical scrolling within the container */
        padding-right: 10px; /* Add padding for scrollbar space */
    }

    .store-card {
        height: 150px; /* Reduce card height */
        display: flex;
        flex-direction: row; /* Arrange content horizontally */
        gap: 10px;
    }

    .store-card-img img {
        width: 120px; /* Adjust image width */
        height: 100%; /* Maintain aspect ratio */
        object-fit: cover;
    }

    .store-card-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .store-card-header h3 {
        font-size: 0.9rem; /* Adjust font size */
    }

    .store-card-content p {
        font-size: 0.8rem; /* Adjust font size */
    }
}

@media (max-width: 400px) {
    .content h1 {
        font-size: 1.5rem;
    }
    .search-bar {
        display: none;
    }
}